<!--<button (click)="goBack()"-->
<!--        class="btn btn-circle btn-outline btn-primary btn-sm mb-2 sticky top-20 z-10 ml-2 backdrop-blur-2xl">-->
<!--  <i class="material-symbols-outlined !text-xl">arrow_back</i>-->
<!--</button>-->
<!--<div class="space-y-3">-->
<!--  @if (blog.error() && isLoading()) {-->
<!--    <div class="text-center my-28">-->
<!--      <i-->
<!--        class="material-symbols-outlined !text-8xl overflow-hidden max-w-36 rounded-full bg-gradient-to-l from-error to-accent w-fit mx-auto text-transparent bg-clip-text">error</i>-->
<!--      <h1 class="text-3xl font-bold bg-gradient-to-r from-error to-accent bg-clip-text text-transparent my-1">-->
<!--        ¡Ha ocurrido un error!-->
<!--      </h1>-->
<!--      <p class="text-lg text-base-content/80 mb-6">-->
<!--        Hubo un problema al obtener el post. Por favor, inténtalo de nuevo más tarde.-->
<!--      </p>-->
<!--    </div>-->
<!--  } @else if (isLoading()) {-->
<!--    <div class="card bg-base-100 w-full shadow-lg">-->
<!--      <figure class="w-full h-52 bg-base-200 skeleton flex items-center justify-center">-->
<!--      </figure>-->
<!--      <div class="card-body">-->
<!--        <div class="flex gap-3 items-center">-->
<!--          <div class="skeleton w-12 h-12 rounded-full avatar avatar-placeholder">-->
<!--          </div>-->
<!--          <div class="flex-1 flex-col flex gap-2">-->
<!--            <div class="skeleton h-3 w-1/3"></div>-->
<!--            <div class="skeleton h-2 w-1/4"></div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="flex items-center justify-between my-2">-->
<!--          <div class="skeleton h-5 w-1/2"></div>-->
<!--        </div>-->
<!--        <div class="skeleton h-3 w-full"></div>-->
<!--        <div class="skeleton h-3 w-full"></div>-->
<!--        <div class="card-actions justify-end items-center">-->
<!--          <div class="btn btn-outline btn-primary btn-sm">-->
<!--            <span class="loading loading-spinner"></span>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  } @else {-->
<!--    <div class="rounded-xl shadow-lg card backdrop-blur-sm">-->
<!--      <div class="card-body">-->
<!--        <div class="flex gap-3">-->
<!--          <div class="avatar avatar-placeholder">-->
<!--            <div class="bg-gradient-to-r from-primary to-accent text-primary-content w-12 rounded-full font-semibold">-->
<!--              <span class="">{{ getUserLetters(blog.value()?.blog?.author) }}</span>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="w-full">-->
<!--            <div-->
<!--              class="font-semibold">{{ blog.value()?.blog?.author?.firstName }} {{ blog.value()?.blog?.author?.lastName }}-->
<!--            </div>-->
<!--            <div class="flex items-center gap-2">-->
<!--              @if (blog.value()?.blog?.publishedDate) {-->
<!--                <relative-time-->
<!--                  class="text-sm opacity-80"-->
<!--                  datetime="{{ blog.value()?.blog?.publishedDate }}"-->
<!--                  precision="day"-->
<!--                ></relative-time>-->
<!--              } @else {-->
<!--                <span class="text-xs opacity-80">No date</span>-->
<!--              }-->
<!--            </div>-->
<!--          </div>-->
<!--          @if (blog.value()?.blog?.author?.id === userId()) {-->
<!--            <div class="flex items-center gap-2">-->
<!--              <button-->
<!--                class="flex items-center justify-center gap-1 hover:cursor-pointer hover:scale-[1.1] transition-all duration-300 text-info"-->
<!--                (click)="redirectToEdit()">-->
<!--                <i class="material-symbols-outlined !text-2xl">edit</i>-->
<!--              </button>-->
<!--              <modal-open-button-->
<!--                [modalName]="'modal_blog_delete'"-->
<!--                [type]="'icon'"-->
<!--                [classes]="'btn-link no-underline hover:no-underline hover:scale-[1.1] transition-all duration-300 text-error'"-->
<!--              >-->
<!--                <i class="material-symbols-outlined !text-2xl">delete</i>-->
<!--              </modal-open-button>-->
<!--            </div>-->
<!--          }-->
<!--        </div>-->

<!--        <h2 class="card-title text-2xl md:text-3xl font-bold">{{ blog.value()?.blog?.title }}</h2>-->
<!--        <div class="badge badge-soft rounded-full badge-primary">{{ blog.value()?.blog?.category?.name }}</div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="shadow-lg card backdrop-blur-sm overflow-hidden card-border rounded-xl">-->
<!--      <div class="w-full bg-base-200 flex items-center justify-center max-h-[min(800px,80dvh)]">-->
<!--        @if (blog.value()?.blog?.video) {-->
<!--          <video controls class="w-full h-full">-->
<!--            <source src="{{ blog.value()?.blog?.video }}" type="video/mp4" />-->
<!--          </video>-->
<!--        } @else if (blog.value()?.blog?.image) {-->
<!--          <img [src]="blog.value()?.blog?.image" alt="{{ blog.value()?.blog?.title }}"-->
<!--               class="object-cover h-full w-full" />-->
<!--        }-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="rounded-xl shadow-lg card space-y-3 backdrop-blur-sm">-->
<!--      <div class="card-body">-->
<!--        <p>{{ blog.value()?.blog?.content }}</p>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="rounded-xl shadow-lg card space-y-3 backdrop-blur-sm p-4">-->
<!--      <div class="card-actions justify-end">-->
<!--        <div class="flex-1 flex gap-4 items-center">-->
<!--          <button-->
<!--            class="flex items-center justify-center gap-1 hover:cursor-pointer hover:scale-[1.1] transition-all duration-300 hover:text-error text-base-content/60"-->
<!--            [class.text-error]="blog.value()?.hasLiked"-->
<!--            (click)="toggleLike()">-->
<!--            <i class="material-icons-outlined !text-2xl">-->
<!--              {{ blog.value()?.hasLiked ? 'favorite' : 'favorite_border' }}-->
<!--            </i>-->
<!--            <span class="text-base">{{ blog.value()?.reactionCount }}</span>-->
<!--          </button>-->
<!--          <button-->
<!--            class="flex items-center justify-center gap-1 hover:cursor-pointer hover:scale-[1.1] transition-all duration-300 hover:text-info text-base-content/60">-->
<!--            <i class="material-symbols-outlined !text-2xl">comment</i>-->
<!--            <span class="text-base">{{ blog.value()?.commentCount }}</span>-->
<!--          </button>-->
<!--          <button-->
<!--            class="flex items-center justify-center gap-1 hover:cursor-pointer hover:scale-[1.1] transition-all duration-300 hover:text-success text-base-content/60">-->
<!--            <i class="material-symbols-outlined !text-2xl">ios_share</i>-->
<!--          </button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="rounded-xl shadow-xl card space-y-3 backdrop-blur-sm">-->
<!--      <div class="card-body">-->
<!--        <h2 class="card-title">Comentarios ({{ comments().length }})</h2>-->
<!--        @if (blog.isLoading()) {-->
<!--          <span class="loading loading-spinner mx-auto my-1 text-primary"></span>-->
<!--        }-->
<!--        <community-comment-form (reload)="reload()" [blogId]="blogId()"></community-comment-form>-->
<!--        <ul class="list pl-4">-->
<!--          @for (comment of comments() || []; track comment.id; ) {-->
<!--            <community-blog-comment-->
<!--              [comment]="comment"-->
<!--              [commentParentId]="null"-->
<!--              [userId]="userId()"-->
<!--            ></community-blog-comment>-->
<!--          }-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--  }-->
<!--</div>-->

<!--<app-dialog-->
<!--  [title]="'Eliminar comentario'"-->
<!--  [message]="'¿Estás seguro de eliminar este comentario?'"-->
<!--  [modalName]="'modal_blog_comment_delete'"-->
<!--  [buttonText]="'Eliminar'"-->
<!--  (callback)="deleteComment()"-->
<!--&gt;</app-dialog>-->
<!--<blog-comment-modal (reload)="reload()" />-->

<!--<app-dialog-->
<!--  [title]="'Eliminar blog'"-->
<!--  [message]="'¿Estás seguro de eliminar este blog?'"-->
<!--  [modalName]="'modal_blog_delete'"-->
<!--  [buttonText]="'Eliminar'"-->
<!--  (callback)="deleteBlog()"-->
<!--&gt;</app-dialog>-->
