<div class="dropdown dropdown-end">
  <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
    <div class="indicator">
      <i class="material-symbols-outlined">notifications</i>
      @if (unreadCount() > 0) {
        <span class="badge badge-xs badge-primary indicator-item">{{
          unreadCount()
        }}</span>
      }
    </div>
  </div>
  <ul
    tabindex="0"
    class="menu menu-md dropdown-content bg-base-100 rounded-box z-1 mt-4 sm:w-80 p-2 shadow-md space-y-1 w-[70vw]"
  >
    <div class="px-2 py-1.5 text-base text-primary font-semibold">
      Notificaciones
    </div>
    <hr />

    @if (showPermissionRequest()) {
      <div class="p-2">
        <button
          (click)="enableNotifications()"
          class="btn btn-primary btn-sm w-full"
        >
          Activar notificaciones
        </button>
      </div>
      <hr />
    }

    @for (notification of notifications().slice(0, 3); track notification.id) {
      <li class="" (click)="handleNotificationClick(notification)">
        <div class="flex flex-col items-start gap-1">
          <div class="flex items-center gap-2">
            <p class="font-medium text-sm">
              @switch (notification.type) {
                @case (NotificationType.NEW_BLOG_POST) {
                  Nuevo Blog Publicado
                }
                @case (NotificationType.LIKE) {
                  Nuevo Me Gusta en tu Blog
                }
                @case (NotificationType.COMMENT) {
                  Nuevo Comentario en tu Blog
                }
                @case (NotificationType.MOOD_REMINDER) {
                  Recordatorio de estado de ánimo
                }
                @case (NotificationType.ACTIVITY_REMINDER) {
                  Recordatorio de actividad
                }
                @case (NotificationType.SYSTEM) {
                  Notificación del sistema
                }
                @default {
                  Notificación desconocida
                }
              }
            </p>
            @if (notification.status === NotificationStatus.NEW) {
              <span
                class="w-2 h-2 aspect-square rounded-full bg-primary"
              ></span>
            }
          </div>
          <p class="text-xs opacity-80">
            @switch (notification.type) {
              @case (NotificationType.NEW_BLOG_POST) {
                Un nuevo blog de {{ notification.args[0] }} ha sido publicado:
                {{ notification.args[1] }}
              }
              @case (NotificationType.LIKE) {
                {{ notification.args[0] }} le ha dado me gusta a tu blog:
                {{ notification.args[1] }}
              }
              @case (NotificationType.COMMENT) {
                {{ notification.args[0] }} ha comentado en tu blog:
                {{ notification.args[1] }}
              }
              @case (NotificationType.MOOD_REMINDER) {
                Es hora de registrar tu estado de ánimo. Tómate un momento para
                reflexionar.
              }
              @case (NotificationType.ACTIVITY_REMINDER) {
                No olvides realizar tu actividad diaria:
                {{ notification.args[0] }}.
              }
              @case (NotificationType.SYSTEM) {
                Hemos lanzado nuevas funciones. ¡Descúbrelas ahora!
              }
              @default {
                Notificación desconocida
              }
            }
          </p>
          <relative-time
            class="text-xs opacity-80"
            datetime="{{ notification.timestamp.toDate() }}"
            tense="past"
          ></relative-time>
        </div>
      </li>
    } @empty {
      <li>
        <p class="justify-center">No hay notificaciones</p>
      </li>
    }

    <hr />

    @if (hasUnread()) {
      <li>
        <button
          class="btn btn-sm btn-ghost w-full justify-center"
          (click)="markAllAsRead()"
        >
          <i class="material-symbols-outlined text-base">done_all</i>
          Marcar todas como leídas
        </button>
      </li>
    }

    <li>
      <a class="justify-center" [routerLink]="['/app/notifications']"
        >Ver todas las notificaciones</a
      >
    </li>
  </ul>
</div>
