<div class="flex justify-between gap-5 flex-col md:flex-row">
  <label class="input w-full md:flex-2">
    <i class="material-icons-outlined !text-xl opacity-50">search</i>
    <input
      type="search"
      class="grow"
      placeholder="Search posts..."
      [value]="search()"
      (input)="search.set(searchInput.value)"
      #searchInput
    />
  </label>

  <div class="flex gap-2 flex-1 *:flex-1">
    <select
      class="select"
      [value]="category()"
      (change)="category.set(categorySelect.value)"
      #categorySelect
    >
      <option value="">All Categories</option>
      @for (category of categories(); track $index) {
        <option value="{{ category.id }}">
          {{ category.nameTranslations["en"] || "Unknown" }}
        </option>
      }
    </select>

    <select
      class="select"
      [value]="status()"
      (change)="status.set(statusSelect.value)"
      #statusSelect
    >
      <option value="">All status</option>
      <option value="{{ Status.PUBLISHED }}">{{ Status.PUBLISHED }}</option>
      <option value="{{ Status.PENDING }}">{{ Status.PENDING }}</option>
      <option value="{{ Status.DELETED }}">{{ Status.DELETED }}</option>
    </select>
  </div>
</div>
