<div class="flex">
  <div class="dock sm:h-full lg:w-48 sm:w-18 sm:top-0 sm:flex-col sm:justify-center bg-base-300">
    @for (link of links; track $index) {
      <a
        routerLink="{{ link.path }}"
        class="sm:py-2.5 sm:basis-0 lg:flex-row lg:justify-start lg:gap-3 lg:w-full"
      >
        <i routerLinkActive #rla="routerLinkActive"
           [routerLinkActiveOptions]="{ exact: link.path === '/app' }"
           [ngClass]="{'material-icons': rla.isActive, 'material-icons-outlined': !rla.isActive}">
          {{ link.icon }}
        </i>
        <span
          class="dock-label sm:hidden lg:block lg:!text-sm"
          routerLinkActive="font-semibold"
          [routerLinkActiveOptions]="{ exact: link.path === '/app' }"
        >{{ link.name }}</span>
      </a>
    }
  </div>

  <div class="flex-1">
    <!--    Navbar  -->
    <div class="navbar bg-base-300 w-full shadow-sm sticky top-0 z-30">
      <div class="flex-1">
        <a class="btn btn-ghost text-lg px-1 sm:ml-2 lg:ml-4" routerLink="/app">
          <i class="material-symbols-outlined !text-3xl">network_intelligence</i>
          <span class="sm:hidden">KJO Mind Care</span>
        </a>
      </div>

      <div class="navbar-end w-fit mr-2 sm:mr-3 flex items-center gap-3">

        <navbar-notifications class="" />
        <!--        <navbar-profile-button class="sm:hidden" />-->
      </div>
    </div>

    <div class="sm:pl-18 lg:pl-48">
      <main>
        <h1>Bienvenido</h1>
        <router-outlet />
      </main>
    </div>
  </div>
</div>
