<div class="text-center my-28">
    <i class="material-symbols-outlined !text-8xl overflow-hidden max-w-36 rounded-full bg-gradient-to-l from-primary to-accent w-fit mx-auto text-transparent bg-clip-text">heart_smile</i>
  <h1 class="text-3xl font-bold bg-gradient-to-r from-primary to-primary bg-clip-text text-transparent my-1">
    ¡Estado de Ánimo registrado!
  </h1>
  <p class="text-lg text-base-content/80 mb-6">
    ¡Excelente! Cada registro te ayuda a entenderte mejor.
  </p>
  <a routerLink="/app/mood/history" class="btn btn-primary">
    ¡Explora tu Viaje Emocional!
  </a>
</div>
