<li class="list-row gap-y-2 px-0">
  <div class="avatar avatar-placeholder">
    <div
      class="bg-gradient-to-l from-primary to-secondary text-neutral-content w-10 h-10 rounded-full"
    >
      @if (comment().author.profileImage) {
        <img
          [src]="comment().author.profileImage"
          [alt]="comment().author.fullName"
        />
      } @else {
        <span class="text-xs">{{ userLetters() }}</span>
      }
    </div>
  </div>
  <div
    class="list-col-wrap flex items-center justify-between text-center w-full"
  >
    <span class="w-0 border border-secondary h-full mx-auto"></span>
  </div>

  <div class="flex items-center gap-2 w-full">
    <div class="w-full">
      <div class="font-semibold">{{ comment().author.fullName }}</div>
      @if (comment().createdAt.toDate()) {
        <relative-time
          class="text-xs opacity-80"
          datetime="{{ comment().createdAt.toDate() }}"
          precision="day"
        ></relative-time>
      } @else {
        <span class="text-xs opacity-80">No date</span>
      }
    </div>
    <div class="flex items-center text-base-content">
      <modal-open-button
        [modalName]="'modal_blog_comment'"
        [classes]="
          'btn-square btn-link no-underline hover:no-underline hover:scale-[1.1] transition-all duration-300 text-base-content'
        "
        (click)="commentService.selectedComment = selectComment('reply')"
      >
        <i class="material-symbols-outlined !text-xl">reply</i>
      </modal-open-button>

      @if (isMine()) {
        <modal-open-button
          [modalName]="'modal_blog_comment'"
          [classes]="
            'btn-link btn-square no-underline hover:no-underline hover:scale-[1.1] transition-all duration-300 text-info'
          "
          (click)="commentService.selectedComment = selectComment('edit')"
        >
          <i class="material-symbols-outlined !text-xl">edit</i>
        </modal-open-button>

        <button
          class="btn btn-ghost btn-square btn-sm text-error hover:bg-error/10 transition-colors"
          (click)="deleteComment.emit(comment().id.toString())"
        >
          <i class="material-symbols-outlined !text-xl">delete</i>
        </button>
      }
    </div>
  </div>

  <div class="list-col-wrap">
    <p>{{ comment().content }}</p>
    @if (comment().replies.length > 0) {
      <div class="list">
        @for (child of comment().replies; track child) {
          <community-blog-comment
            [comment]="child"
            [commentParentId]="comment().id.toString()"
            [userId]="userId()"
            (deleteComment)="deleteComment.emit($event)"
          ></community-blog-comment>
        }
      </div>
    }
  </div>
</li>
