<div class="p-4 rounded-xl shadow-xl card space-y-5">
  <div class="flex items-center gap-2">
    <div
      class="bg-gradient-to-r from-secondary to-primary text-primary-content px-2 pt-1 rounded-2xl align-baseline"
    >
      <i class="material-symbols-outlined !text-2xl h-fit">moving</i>
    </div>
    <h2
      class="text-2xl font-semibold bg-gradient-to-r from-secondary to-primary text-transparent bg-clip-text"
    >
      Tu semana
    </h2>
  </div>

  <div class="flex items-center gap-3 overflow-x-scroll scroll-smooth py-2">
    @if (weeklyHistoryResource.isLoading()) {
      @for (item of [1, 2, 3, 4, 5]; track $index) {
        <div class="skeleton w-12 h-18 rounded-lg flex-1 bg-accent/20"></div>
      }
    } @else if (weeklyHistoryResource.error()) {
      <div class="alert alert-error my-3 flex-1">
        <i class="material-symbols-outlined !text-xl">error</i>
        <span>Error al cargar el historial. Por favor intenta de nuevo.</span>
        <button
          class="btn btn-sm btn-outline hover:btn-error"
          (click)="reload()"
        >
          <i class="material-symbols-outlined !text-xl">refresh</i>
        </button>
      </div>
    } @else {
      @for (item of weeklyHistory(); track $index) {
        <div class="flex flex-col items-center gap-3 flex-1">
          <p class="text-xs text-gray-500 font-medium">{{ item.day[0] }}</p>

          <div
            class="p-4 max-sm:py-4 flex-1 rounded-xl shadow-lg flex flex-col items-center justify-center gap-2.5 transition-all group"
            [style.backgroundColor]="item.mood?.color || '#ebedf0'"
          >
            @if (item.mood) {
              <img
                src="{{ item.mood.image }}"
                alt="Ícono de {{
                  item.mood.name['es'] || item.mood.name['en']
                }}"
                class="w-7 h-7 min-w-7 object-cover overflow-hidden group-hover:scale-110 transition-all"
              />
            } @else {
              <img
                src="https://d14ti7ztt9zv5f.cloudfront.net/emojis/Apple/Ghost-on-Apple-iOS-13.3/Ghost-on-Apple-iOS-13.3.png"
                alt="Sin estado de ánimo"
                class="w-7 h-7 min-w-7 object-cover overflow-hidden group-hover:scale-110 transition-all"
              />
            }
          </div>

          <div
            class="w-full h-2 bg-base-200 rounded-full overflow-hidden relative"
          >
            <div
              class="h-full bg-current rounded-full"
              [style]="
                'width: ' +
                ((item.mood?.value || 0) / 10) * 100 +
                '%; background-color: ' +
                (item.mood?.color || 'transparent')
              "
            ></div>
          </div>
        </div>
      }
    }
  </div>

  <!--Statistics-->
  @if (withDetails()) {
    <div
      class="grid grid-cols-1 sm:grid-cols-3 gap-4 *:!rounded-xl *:shadow-sm *:p-5"
    >
      <div
        class="stat bg-success/10 !border-2 !border-success/50 *:text-success justify-items-center"
      >
        @if (statsResource.isLoading()) {
          <div class="stat-value skeleton w-12 h-5 bg-base-200 my-2"></div>
        } @else if (statsResource.error()) {
          <div class="stat-value text-2xl font-bold">0.0</div>
        } @else {
          <div class="stat-value text-2xl font-bold">
            {{ stats().average | number: "1.1-1" }}
          </div>
        }
        <div class="stat-desc text-sm font-medium">Promedio semanal</div>
      </div>

      <div
        class="stat bg-info/10 !border-2 !border-info/50 *:text-info justify-items-center"
      >
        @if (statsResource.isLoading()) {
          <div class="stat-value text-2xl font-bold">0</div>
        } @else {
          <div class="stat-value text-2xl font-bold">
            {{ stats().registeredDays }}
          </div>
        }
        <div class="stat-desc text-sm font-medium">Días registrados</div>
      </div>

      <div
        class="stat bg-primary/10 !border-2 !border-primary/50 *:text-primary justify-items-center"
      >
        @if (statsResource.isLoading()) {
          <div class="stat-value skeleton w-12 h-5 bg-base-200 my-2"></div>
        } @else if (statsResource.error()) {
          <div class="stat-value text-2xl font-bold">0%</div>
        } @else {
          <div class="stat-value text-2xl font-bold">
            {{
              (stats().improvement > 0 ? "+" : "") +
                (stats().improvement | number: "1.0-0")
            }}%
          </div>
        }
        <div class="stat-desc text-sm font-medium truncate">
          Mejora vs. semana anterior
        </div>
      </div>
    </div>

    <!-- Detailed Analytics -->
    <div class="mt-6">
      <user-mood-analytics />
    </div>
  }
</div>
